{% extends "projects/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="col-md-8 offset-md-2">
        <h2> About COMATAP! </h2>
        <p class="article-content"> COMAblog is a community of researchers, engineers, project managers, concrete professionals and students who deal with concrete as a construction material... </p>
        <p class="article-content"> COMATAP is a web-based application that helps concrete professionals with 
            a simplified real-time wireless monitoring of concrete maturity and strength prediction.
            concrete asset managers and consultants can now track the progress of their concrete structures' maturity 
            anywhere in the world. Thereby making their work much more integrated. </p>
            
        <p class="article-content"> It also serves users latest updates about concrete structures. </p>
        <p class="article-content"> Details of maturity test will be uploaded shortly. </p>
    </div>

{% endblock content %}
            