{% extends "projects/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="col-md-6 offset-md-2">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-2" > Blog Post </legend>
                <small class="text-muted"> Have field/laboratory works you'll like to share? <a class="ml-1"> Write & share here! </a>
                </small>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Publish</button>
            </div>
        </form>
    </div>
{% endblock content %}