{% extends "projects/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="col-md-12 col-mt-4 col-mb-4">
        <div class="row">
            <br>
            <!-- CONFIGURATION FORM FORM HERE -->
            <p>
                <div class="col-md-3">
                    <div class="content-section">
                        <h3>Set Maturity Parameters</h3>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <button type="submit" class="btn btn-primary mt-2"> Configure Test / Refresh </button>
                        </form>
                    </div>
                    <!-- <div class="col-md-4">
                        <a href="{% url 'get-data' sensor.pk %}"><button type="submit" class="btn btn-warning">Update Data</button></a>
                    </div> -->
                </div>
                <!-- CONFIGURATION FORM END-->
            </p>
    
    
            <div class="col-md-8">
                <div class="float-right">
                    <a class="nav-item nav-link" href="{% url 'concrete-strength' sensor.pk %}"><button type="submit" class="btn btn-primary"> Check Concrete Strength </button></a>
                </div>
                <p>
                    {% if sensor %}
                        <p class="article-content"> The following are sensor details = {{ sensor.sensor_name }}, sensor_id: {{ sensor.pk }} </p>
                    {% endif %}
                </p>
    
                <br>
                <h2> Concrete Temperature </h2>
                <p>  Real-time temperature of {{sensor.project.title}} concrete is presented below.</p>
            
                {% if data %}  <!-- this is similar to 'for loop' in python -->
                    
                    <p class="article-content"> The current concrete temperature is = {{ data.ave_temp }}°C</p>
                    <!-- <p class="article-content"> The current humidity of concrete is = {{ data.ave_hum }} %</p> -->     
                {% endif %}
                
                {% if temp_graph %} 
                    <!-- this is similar to 'for loop' in python -->
                    <div style="width:1500;height:1000">
                    {{ temp_graph|safe }}
                    </div>
                {% endif %}

                <!-- Navbar Right Side -->
                <br>
                <div class="float-right col-mb-4 col-mt-4">
                    <a class="nav-item nav-link" href="#"><button type="submit" class="btn btn-primary" > Download this Result </button></a>
                </div>
                <div class="float-left col-mb-4 col-mt-4">
                    <a class="nav-item nav-link" href="{% url 'concrete-strength' sensor.pk %}"><button type="submit" class="btn btn-primary"> Check Concrete Strength </button></a>
                </div>
            </div>
                    
        </div>
    </div>
{% endblock content %}