{% extends "projects/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <br>
        <div class="col-md-8">
            <div class="content-section">
                {% if sensor %}
                    <h2 class="account-heading"> {{ sensor.project.title }}</h2>
                    <p class="text-secondary">{{ sensor.sensor_name }}</p>
                {% endif %}

                {% if msg %}
                    <p class="text-secondary">{{ msg }}</p>
                {% endif %}
                <p>
                    <small> The database for this sensor has been updated. Will you like to return to check your results? </small>
                    
                    <p><a href=" {% url 'combined-data' sensor.pk %}" class="btn btn-primary"> OK, Return to Results </a></p>
                </p>
                
            </div>
        </div>
    </div>
    

{% endblock content %}