{% extends "projects/base.html" %}
{% load static %}
{% block content %}    
<h1 class="title"> Projects' Homepage </h1>
    <div class="col-md-12 mt-4">
        <div class="row">
            <div class="col-md-8">
                <img src="{% static 'img/about.jpg' %}" alt="" width="100%">
                <p class="article-content mt-4"> COMATAP is a web-based application that helps concrete professionals with a simplified real-time wireless monitoring of concrete maturity and strength prediction.
                    
                    Concrete asset managers and consultants can now track the progress of their concrete structures' maturity anywhere in the world. Thereby making their work much more integrated. 
                </p>
            </div>
            <div class="col-md-4">
                <div class="content-section">
                    <h4> FAQ </h4>
                    <p class='text-muted'>Looking for a specific content?
                        <ul class="list-group">
                            <form class="navbar-form navbar-left" role="search" method="GET" action="#"> 
                                <div class="form-group">
                                    <input type="text" class="form-control" name="q" value="">
                                    <button type="submit" class="btn-outline-secondary btn-sm mb-1 mt-1">Search</button>
                                </div>
                            </form>
                        
                            <br>
                            <div class="content-section">
                                <h4> Test Configuration- Why? </h4>
                                <p class='text-muted'> Confirm concrete maturity parameters before proceeding to results!.
                                <ul class="list-group">
                                    <a href="{% url 'project-about' %}" class="btn btn-primary">Learn More</a>
                                </ul>
                                </p>
                            </div>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <h2 class="title mb-4"> Ongoing Projects </h2>
    <div class="col-md-12">
        <div class="row">
            {% for project in projects %}
                <div class="col-md-4">
                    <div class="card-mb-2">
                        <img class="card-img-top" src="{{ project.image.url }}">
                        <div class="card-body">
                            <div >
                                <h4 class="card-title">{{ project.title }}</h4>
                                <small class="text-muted">Project Engr.: </small>
                                <a class="mr-2" href="#"> {{ project.person }}</a>
                            </div>
                            <br>
                            <p class="card-text">{{ project.description | slice:"50" }}...</p>
                            <a href="{% url 'project-detail' project.pk %}" class="btn btn-primary"> More Details </a>
                            <div class="article-metadata">
                                <small class="text-muted">{{ project.date_created|date:'F d, Y' }}</small>
                                <small class="text-muted ml-2"> {{ project.categories }} </small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>
    </div>  
    <br>
{% endblock content %}