{% extends "projects/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="media-body">
        <h3>About COMATAP! </h3>
        <p> COMATAP is a web-based application that helps concrete professionals with 
            a simplified real-time wireless monitoring of concrete maturity and strength prediction.
            concrete asset managers and consultants can now track the progress of their concrete structures' maturity 
            anywhere in the world. Thereby making their work much more integrated. </p>
            
        <p> It also serves users latest updates about concrete structures. </p>

        <br>
        <h5>About Maturity Test</h5>
        <p class="article-content"> Maturity of concrete has been around for decades, beginning from around the 1950s.
            In the 1970s, a string of fatal construction disasters motivated engineers and researchers to refine the technique for routine construction.
            Implementing the maturity method helps construction teams know when their concrete has reached adequate strength, sequence construction operations,
            and build concrete products safely and cost-efficiently.
        </p>
        
        <br>              
        <h5> Maturity Test Configuration </h5>
        <p> Configuration of the maturity test parameters is a ONE-TIME action, at the beginning of the NDT exercise. </p>
        <p> Please note that it is very IMPORTANT to confirm that your parameters are accurate before viewing and/or saving results. </p>
        <p> If you are unsure about this process, kindly use the form below to send us any enquiries. </p>
        <p> Keep building faster, safer and smarter. </p>
        <p> More info coming up...  </p>            
    </div>
{% endblock content %}