{% load static %}

<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'projects/main.css' %}">  <!--this refs the main.css file in static folder in our app-->

    {% if title %}
        <title> COMATAP - {{ title }} </title>
        
    {% else %}
        <title> COMATAP </title>
        
    {% endif %}
    

</head>

<body>

    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="{% url 'project-index' %}"> COMATAP </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{% url 'project-index' %}"> Home </a>
                        <a class="nav-item nav-link" href="{% url 'blog-home' %}">Blog</a>
                        <a class="nav-item nav-link" href="{% url 'project-index' %}"> Projects </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
              
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                {% if messages %} <!--this addition is to generate a one-time pop-up messages-->
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
                {% block content %}{% endblock %}  <!--this functions same as the basic 'block content'-->
            </div>
            <div class="col-md-4">
                <div class="content-section">
                    <h3> FAQ </h3>
                    <p class='text-muted'>Looking for a specific content?
                        <ul class="list-group">
                            <form class="navbar-form navbar-left" role="search" method="GET" action="#"> 
                                <div class="form-group">
                                    <input type="text" class="form-control" name="q" value="">
                                    <button type="submit" class="btn-outline-secondary btn-sm mb-1">Search</button>
                                </div>
                            </form>
                        
                        <br>
                        <div class="content-section">
                            <h3> Test Configuration- Why? </h3>
                            <p class='text-muted'>Make sure to confirm your concrete maturity parameters here before proceeding!.
                            <ul class="list-group">
                                <a href="#" class="btn btn-primary">Learn More</a>
                            </ul>
                            </p>
                        </div>
                        
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </main>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>